.Pokedex-header {
display: inline-block;
}

.Pokedex-header > div {
    display: inline-block;
}
.title > p {
    margin: 10px;
    font-size: 50px;
    color: #FFDE00
}

.about {
position: relative;
}

@media (max-width: 576px) {
.title > p {
    font-size: 30px;
}

 }
